[tool.poe.tasks]
_black-check = "black --check simaple tests"
_isort-check = "isort --check-only simaple tests"
formatting-check = ["_black-check", "_isort-check"]

_black = "black simaple tests scripts"
_isort = "isort simaple tests scripts"
format = ["_black", "_isort"]

_pylint = "pylint simaple tests scripts"
lint = ["_pylint"]

coverage = "pytest --cov=simaple --ignore tests/fetch/request"
coverage-unittest = "pytest --cov=simaple --ignore tests/fetch/request"
coverage-report = "pytest --cov=simaple --cov-report=xml"

unittest = "pytest -vv -x tests/ --ignore tests/fetch/"
test_app = "pytest -vv -x test_app/"
test_data = "pytest -vv -x test_data/"
rsctest = "pytest -vv -x test_resource/"
typetest = "mypy simaple tests"
fetchtest = "pytest -vv -x tests/fetch/request"
simulatetest = "pytest -vv -x tests/simulate"
clean = "rm -rf **/__pycache__ .coverage .mypy_cache .pytest_cache"
web = "python launcher.py web"
test = ["coverage", "typetest", "lint", "formatting-check"]

[tool.black]

[tool.isort]
profile = "black"
multi_line_output = 3
skip = "third_party"

[tool.pytest.ini_options]
addopts = "-vv -x"
testpaths = ["tests", "test_app", "test_data"]

[tool.coverage.run]
branch = true

[tool.coverage.report]
fail_under = 85
show_missing = true
[tool.coverage.xml]
output = "coverage-reports/coverage.xml"

[tool.mypy]
warn_return_any = true
warn_unused_configs = true
incremental = false
disable_error_code = "misc"

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
    "sklearn.linear_model",
    "sklearn.pipeline",
    "sklearn.preprocessing",
    "bs4",
    "sqlalchemy",
    "sqlalchemy.orm",
]

[tool.poetry]
name = "simaple"
version = "0.3.0"
description = "Maplestory calculation / Simulation library"
authors = ["meson324 <meson324@gmail.com>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/simaple-team/simaple"

[tool.poetry.dependencies]
python = ">=3.9, <3.11"
pydantic = {extras = ["dotenv"], version = "^1.8.2"}
loguru = "^0.5.3"
poethepoet = "^0.10.0"
PyYAML = "^6.0"
types-PyYAML = "^6.0.4"
numpy = "^1.22.3"
scikit-learn = "^1.0.2"
beautifulsoup4 = "^4.11.1"
aiohttp = "^3.8.1"
scipy = "^1.7.2"
requests = "^2.26.0"
Sphinx = "^5.1.1"
sphinx-rtd-theme = "^1.0.0"
readthedocs-sphinx-ext = "^2.2.0"
fastapi = "^0.88.0"
fire = "^0.4.0"
uvicorn = "^0.20.0"
httpx = "^0.23.1"
dependency-injector = "^4.40.0"
SQLAlchemy = "^1.4.45"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
isort = "^5.9.3"
coverage = "^6.0.2"
pylint = "=2.13.1"
mypy = "^0.981"
black = "^22.6"
pytest-cov = "^3.0.0"
build = "^0.8.0"
twine = "^4.0.1"
types-requests = "^2.28.3"

[tool.poetry.group.dev.dependencies]
jupyter = "^1.0.0"
pycln = "^2.1.2"
yappi = "^1.4.0"
snakeviz = "^2.1.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
